*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Roboto', 'Poppins', sans-serif;
	color: #fff;
	width: 100%;
	height: 100vh;
    /* overflow: hidden; */
	background-color: #8C6C79;
	width: 80%;
    margin: 0 auto;
}
.nav{
	display: flex; /*poner elementos uno al lado del otro*/
	justify-content: space-between;
	padding:0 0px;
	position: relative;
	top: 45px;
	align-items: center; /*centrar elementos dentro del bloque*/
	font-family: 'Poppins'
}
.nav .title{
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;

}
/*menu hamburguesa*/
.menu-wrap{
	position: fixed;
	top: 30px;
	right: 100px;
	z-index: 5;
	/*display: none;*/
}
.menu-wrap .toggler{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 6;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}
.menu-wrap .hamburger{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 60px;
	height: 60px;
	background: transparent; /*debe ir transparent*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .hamburger > div{
	position: relative;
	width: 100%;
	height: 2px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 2px;
	background: #fff;
	top: -10px;
}
.menu-wrap .hamburger > div:after{
	top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	transform: rotate(90deg);
	top: 0;
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu{
	visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: opacity 0.4s ease;
}
.menu-wrap .menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .menu > div{
	background: rgba(150, 97, 255, 0.97);
	width: 200vh;
	height: 200vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
	text-transform: uppercase;
}
.menu-wrap .menu > div > div{
	max-width: 90vh;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;	
}
.menu-wrap .menu > div > div ul > li{
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.menu-wrap .menu > div > div ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}
.menu-wrap .menu > div > div ul > li > a:hover{
	text-decoration: underline;
}
/*fin menu hamburguesa*/

/* inicio contact modal */
.contact{
	width: 70%;
	background-color: #9661FF;
	border: 1px solid #fff;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	writing-mode: horizontal-tb;
	display: none;
	
}
.close{
	font-size: 3rem;
	text-align: right;
	color: #fff;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
input, select{
	width: 100%;
	height: 50px;
	background: rgba(196, 175, 239, 0.15);
	color: #fff;
	border: none;
	padding: 5px;
	cursor: pointer;
	transition: .5s;
}
input:hover{
	background: purple;
}
select{
	background-color: #9d6dfd !important;
	
}
textarea{
	width: 100%;
	padding: 5px;
	background: rgba(196, 175, 239, 0.15);
	color: #fff;
	border: none;
}
input::placeholder, textarea::placeholder{
	color: #fff;
}
label{
	padding: 5px;
	color: #fff;
}
.x{
	font-size: 4rem;
	position: relative;
	top: 0;
	transition: .5s ease;
	display: none;
	cursor: pointer;
}
.album{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
	
}
.cd{
	cursor: pointer;
}
.cd1{
	padding: 5px;
}
.cover{
	position: absolute;
    left: 35%;
    transform: rotate(90deg);
	z-index: -1;
	transition: .6s ease;
}
.cd:before{
    content: '';
    border: 1px solid;
    display: flex;
    /* position: relative; */
    right: 60px;
    width: 700px;
    top: 536px;
}
.cd::after{
	content: '';
	border: 1px solid;
    transform: rotate(90deg);
    display: flex;
    position: relative;
    right: 350px;
    bottom: 280px;
    width: 700px;
}
.txt{
	font-size: 7rem;
    position: relative;
    top: 190px;
	left: -25px;
	transition: .5s ease;
}
.slider{
	text-align: center;
	font-size: 2rem;
}
#prev,
#next{
	cursor: pointer;
	transition: all .5s ease;
}
#prev:hover, #next:hover{
	color: #5d464f;
}
/* fin modal */
@media all and (max-width: 1200px){
	.cd1{
		width: 80%;
		transition: all .5s ease;
	}
	.cover{
		width: 36%;
		transition: all .5s ease;
	}
	.cd::after{
		right: 250px;
		bottom: 230px;
		width: 500px;
	}
	.cd::before{
		width: 530px;
    	top: 430px;
	}
	.txt{
		top: 175px;
	}
}

@media all and (max-width: 1100px){
	.txt{
		top: 150px;
	}

}
@media all and (max-width: 1026px){
	.cd1{
		padding: 0;
	}
	.txt{
		top: 170px;
    	left: 64px;
	}
}

@media all and (max-width: 896px){
	.cover{
		width: 35%;
	}
	.txt{
		top: 110px;
	}
}
@media all and (max-width: 829px){
	.cd::before {
    width: 340px;
	}
	.cd::after {
    right: 150px;
    bottom: 200px;
    width: 300px;
	}
	.cover{
		width: 34%;
	}
}
@media all and (max-width: 700px){

	.txt{
		font-size: 5rem;
		top: 114px;
		left: 46px;
	}
}
@media all and (max-width: 512px){
	.txt{
		font-size: 4rem;
	}
	.slider{
		font-size: 1.5rem;
	}
	/* .cd::before {
    width: 250px;
	}
	.cd::after {
    right: 120px;
    bottom: 160px;
    width: 240px;
	} */
	.cd{
		transform: rotate(-90deg);
	}
	.cd1{
		transform: rotate(90deg);
    	position: relative;
    	right: 45px;
    	top: 44px;
	}
	.slider{
		position: relative;
    	right: 200px;
    	bottom: 80px;
    	transform: rotate(90deg);
	}
	.cover{
		width: 50%;
	}
	.cd::after {
    bottom: 188px;
	}
@media all and (max-height: 568px){

    .close{
        font-size: 0;
    }
    label{
        padding: 0;
    }
    input, select{
        height: auto;
    }
    textarea{
        height: 50px;
    }
    .x{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 320px){
		input, 
		select{
			height: auto;
		}
		textarea{
			height: 80px;
		}
	}
}