html {
  writing-mode: vertical-lr;
  margin: 10px;
  color: #011627;
  background-color: #011627;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body{
	overflow-y: hidden;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
main{
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.nav{
	display: flex; /*poner elementos uno al lado del otro*/
	justify-content: space-between;
	padding:0 0px;
	position: fixed;
	top: 45px;
    align-items: center; /*centrar elementos dentro del bloque*/
    color: #fff;
    writing-mode: horizontal-tb;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins';
	left: 100px;
	transition: all .8s ease;
}
/*menu hamburguesa*/
.menu-wrap{
	position: fixed;
	top: 30px;
	right: 100px;
	z-index: 5;
	transition: all .8s ease;
	/*display: none;*/
}
.menu-wrap .toggler{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 6;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}
.menu-wrap .hamburger{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 60px;
	height: 60px;
	background: transparent; /*debe ir transparent*/
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .hamburger > div{
	position: relative;
	width: 100%;
	height: 2px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 2px;
	background: #fff;
	top: -10px;
}
.menu-wrap .hamburger > div:after{
	top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	transform: rotate(90deg);
	top: 0;
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu{
	visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: opacity 0.4s ease;
}
.menu-wrap .menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .menu > div{
	background: rgba(150, 97, 255, 0.97);
	width: 200vh;
	height: 200vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
	text-transform: uppercase;
}
.menu-wrap .menu > div > div{
	max-width: 90vh;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;	
}
.menu-wrap .menu > div > div ul > li{
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem;
    text-align: center;
    background-color: transparent;
    width: max-content;
    align-self: center;

}
.menu-wrap .menu > div > div ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}
.menu-wrap .menu > div > div ul > li > a:hover{
	text-decoration: underline;
}
/*fin menu hamburguesa*/
ul {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 14vh;
  grid-auto-flow: dense;
}
li {
  display: block;
  overflow: hidden;
  writing-mode: horizontal-tb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15vh;
  color: #fff;
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
li:nth-child(3n+2){
  background-color: #88304e;
}
li:nth-child(3n+1){
  background-color: #e23e57;
}
li:nth-child(3n){
  background-color: #25335a;
}

.span2 { grid-row-end: span 2; }
.span3 { grid-row-end: span 3; }
.span4 { grid-row-end: span 4; }
.span5 { grid-row-end: span 5; }
.span6 { grid-row-end: span 6; }

.height2 { grid-column-end: span 2; }

.img1{
	background-image: url(../img/party1.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.img2{
	background-image: url(../img/party2.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.img3{
	background-image: url(../img/party3.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.img4{
	background-image: url(../img/party4.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.img5{
	background-image: url(../img/party5.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.country{
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.2rem;
	color: #fff;
	font-weight: bold;
	/* background-color: #fff;
	mix-blend-mode: screen; */
}
.sec1{
	background-image: url(../img/sec1.jpg);
	background-size: cover;
	background-position: center;
}
.sec2{
	background-image: url(../img/sec2.jpg);
	background-size: cover;
	background-position: center;
}
.sec3{
	background-image: url(../img/sec3.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.sec4{
	background-image: url(../img/sec4.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.sec5{
	background-image: url(../img/sec5.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.sec6{
	background-image: url(../img/sec6.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.sec7{
	background-image: url(../img/sec7.jpg);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.a1{
	font-size: 4rem;
	position: relative;
	left: 100px;
	animation: arrowd 1.5s ease infinite;
}
.a11{
	font-size: 4rem;
	position: relative;
	animation: arrowd1 1.5s ease infinite;
}
@keyframes arrowd{
	0%{
		left: 100px;
	}
	50%{
		left: 109px;
	}
	100%{
		left: 100px;
	}
}
@keyframes arrowd1{
	0%{
		left: 0;
	}
	50%{
		left: 9px;
	}
	100%{
		left: 0;
	}
}
.a2{
	font-size: 4rem;
	position: relative;
	left: 100px;
	cursor: pointer;
	animation: arrowd 1.5s ease infinite;
}
.txt{
	font-size: 3rem;
	text-transform: uppercase;
	opacity: .1;
	font-family: 'Anton', sans-serif;
}
.ticket{
	font-style: italic;
}
.bg1{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
}
.bg2{
	background-image: url(../img/bg2.jpg);
	background-size: cover;
}
/* inicio contact modal */
.contact{
	width: 70%;
	background-color: #9661FF;
	border: 1px solid #fff;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	writing-mode: horizontal-tb;
	display: none;
	
}
.close{
	font-size: 3rem;
	text-align: right;
	color: #fff;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
input, select{
	width: 100%;
	height: 50px;
	background: rgba(196, 175, 239, 0.15);
	color: #fff;
	border: none;
	padding: 5px;
	cursor: pointer;
	transition: .5s;
}
input:hover{
	background: purple;
}
select{
	background-color: #9d6dfd !important;
	
}
textarea{
	width: 100%;
	padding: 5px;
	background: rgba(196, 175, 239, 0.15);
	color: #fff;
	border: none;
}
input::placeholder, textarea::placeholder{
	color: #fff;
}
label{
	padding: 5px;
	color: #fff;
}
.x{
	font-size: 4rem;
	position: relative;
	top: 0;
	transition: .5s ease;
	display: none;
	cursor: pointer;
}
/* fin modal */
/* media queries */
@media all and (max-width:1200px){
	html{
		writing-mode: horizontal-tb;
	}
	body{
		overflow-y: auto;
	}
	.menu-vertical{
		writing-mode: vertical-lr;
	}
	h1{
		 -webkit-writing-mode: vertical-lr;
		 font-size: 10vh;
	}
	ul{
		padding: 10px;
	}
	.txt{
		font-size: 2.2rem;
		-webkit-writing-mode: vertical-lr;
	}
	.a1{
		font-size: 3rem;
		transform: rotate(90deg);
		left: 0;
		animation: a1 1.5s infinite;
	}
	.a11{
		font-size: 3rem;
		transform: rotate(90deg);
		animation: a1 1.5s infinite;
	}
	.a2{
		font-size: 3rem;
		transform: rotate(90deg);
		animation: a2 1.5s infinite;
	}
	@keyframes a2{
		0%{
			top: 0;
			left: 0;
		}
		50%{
			top: 10px;
			left: 0;
		}
		100%{
			top: 0;
			left: 0;
		}
	}
	@keyframes a1{
		0%{
			left: 0;
			bottom: 0;
		}
		50%{
			bottom: 10px;
		}
		100%{
			bottom: 0;
		}
	}
}
@media all and (max-width: 850px){
	.nav{
		left: 30px;
	}
	.menu-wrap{
		right: 30px;
	}
}
/* @media all and (max-height: 812px){

    label{
        padding: 0;
    }
    input, select{
        height: auto;
    }
    textarea{
        height: 50px;
    }
    .x{
        font-size: 3rem;
    }
} */
@media all and (max-width: 700px){
	h1{
		font-size: 8vh;
	}
}
@media all and (max-height: 568px){

    .close{
        font-size: 0;
    }
    label{
        padding: 0;
    }
    input, select{
        height: auto;
    }
    textarea{
        height: 50px;
    }
    .x{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 550px){
	h1{
		font-size: 6vh;
	}
	.country{
		font-size: 1.5rem;
	}
	li{
		font-size: .8rem;
	}
}
@media all and (max-width: 450px){
	h1{
		font-size: 4.5vh;
	}
	.country{
		font-size: 1.2rem;
	}
}
@media all and (max-width: 320px){
		input, 
		select{
			height: auto;
		}
		textarea{
			height: 80px;
		}
}