*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.wrapper{
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	background: #fff;
	position: relative;
	z-index: 1;
}
#particles-js{
	background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.logo{
	position: fixed;
	top: 40px;
	left: 30px;
	color: darkorange;
	font-size: 1.5rem;
	text-transform: uppercase;
	z-index: 1;
}
.menu-wrap{
	position: fixed;
	top: 40px;
	right: 30px;
	z-index: 2;
}
.menu-wrap .toggler{
	position: absolute;
	/*top: 40px;
	right: 30px;*/
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}
.menu-wrap .hamburger{
	position: relative;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.menu-wrap .hamburger > div{
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	top: 10px;
	transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:after{
	top: 20px;
}
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(-135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	transform: rotate(90deg);
	top: 0;
}
.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(-225deg);
}
.menu-wrap .menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	visibility: hidden;
}
.menu-wrap .menu > div{
	position: absolute;
	width: 250vh;
	height: 200vh;
	background: rgba(67,255,238, .97);
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transform: scale(0);
	transition: all 0.4s ease;
}
.menu-wrap .menu  div > div{
	text-align: center;
	width: 90vh;
	height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}
.menu-wrap .menu  div > div ul{
	position: relative;
	top: 20%;
}
.menu-wrap .menu  div > div ul > li{
	font-size: 1rem;
	padding: 1rem;
	color: #000;
}
.menu-wrap .menu  div > div ul > li:hover{
	text-decoration: underline;
}
.menu-wrap .toggler:checked ~ .menu{
	visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
	transform: scale(1);
	transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: 0.4s ease;
}
.cabecera{
	width: 100%;
	height: 100vh;
	grid-area: cabe;
	background: url(img/agua.jpg) no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	background-attachment: fixed;
	position: relative;
}
.skew{
	border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.titulo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 1;
}
.titulo h1{
	font-size: 7rem;
	color: #fff;
	text-shadow: 3px 3px #000;
}
.titulo p{
	position: absolute;
	top: 100%;
	right: 0;
	font-size: 1.3rem;
	color: #000;
	background: #fff;
}
.titulo img{
	width: 10px;
    height: 10px;
    position: absolute;
    top: 285px;
    left: 30%;
}
.titulo p:after{
	content: '';
	width: 50%;
	border: 1px solid;
    transform: translate(-50px, 30px);
    position: absolute;
    color: #000;
}

.about{
	background: #fff;
	width: 100%;
	position: relative;
	/*margin-bottom: 100px;*/
}
.titulo2{
	/*margin-top: 100px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
}
.titulo2 p{
	margin-right: 70px;
	margin-bottom: 20px;
}
.titulo2 p:after{
	content: '';
    width: 50px;
    border: 1px solid #000;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
}
.icons{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 200px;
}
.icon1, .icon2, .icon3 , .icon4, .icon5{
	text-align: center;
}
.icons .fa{
	font-size: 2rem;
	padding-bottom: 10px;
}
.parrafos-about{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px 150px 0px 150px;
}
.parrafos-about .parrafo1{
	text-align: right;
	padding: 20px;
	font-weight: bold;
}
.parrafos-about .parrafo2{
	text-align: justify;
	padding: 20px;
}
.parrafos-about .parrafo3{
	text-align: justify;
	padding: 20px;
}
.boton{
	display: flex;
	align-items: center;
	justify-content: center;
}

.boton p{
	width: 200px;
    border: 1px solid orange;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.boton p:hover{
	background: orange;
	transition: all 0.4s ease;
}
.boton p a{
	color: orange;
	font-weight: bold;
}
.boton p a:hover{
	color: #fff;
	transition: all 0.4s ease;
}
.our-work{
	background-color: #fff;
	width: 100%;
	/*height: 100vh;*/
	/*margin-top: 200px;*/
	background-image: url(img/josh-calabrese-XXpbdU_31Sg-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position-y: center;
	position: relative;
}
.skew2{
	border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
	position: absolute;
	transform: scaleX(-1);
	left: 0;
	bottom: -1px;
}
.our-work > img{
	height: 200px;
}
/*.titulo2 p, h2{
	margin-top: 100px;
}*/
.items{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.items2{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.item-1{
	/*position: relative;
    right: 180px;
    width: 250px;
    height: 140px;
    top: 177px;
    left: 70%;*/
    margin-top: 100px;
    position: relative;
}
.item-1 p{
    position: relative;
    left: 0;
    top: 350px;
}
.item-1 .minititulo{
	font-weight: bold;
	font-size: 1.1rem;
	width: max-content;
}
.item-1 .minititulo:after{
	content: '';
    width: 80px;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    right: 1px;
}
.item-1 .flecha{
    width: 10px;
    height: 10px;
    position: relative;
    top: 135px;
    left: 275px;
}
.item-1 img{
    width: 350px;
    height: 250px;
}
.item-2{
    margin-top: 100px;
    position: relative;
}
.item-2 p{
    position: relative;
    right: 0;
    top: 350px;
}
.item-2 .minititulo{
	font-weight: bold;
	font-size: 1.1rem;
	width: max-content;
}
.item-2 .minititulo:after{
	content: '';
    width: 80px;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    left: 1px;
}
.item-2 .flecha{
width: 10px;
    height: 10px;
    position: relative;
    top: 135px;
    left: 0;
    transform: rotate(180deg);
}
.item-2 img{
    width: 350px;
    height: 250px;
}
.item-3{
	/*position: absolute;
    right: 10%;
    width: 400px;
    height: 250px;
    margin-top: 500px;*/
    margin-top: 100px;
    position: relative;
}
.item-3 p{
    position: relative;
    left: -70px;
    text-align: right;
    top: 350px;
}
.item-3 .minititulo{
	font-weight: bold;
	font-size: 1.1rem;
}
.item-3 .minititulo:after{
	content: '';
    width: 80px;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    right: 1px;
}
.item-3 .flecha{
	width: 10px;
    height: 10px;
    position: relative;
    top: 135px;
    left: 280px;
}
.item-3 img{
    width: 350px;
    height: 250px;
}
.item-4{
	/*position: absolute;
    left: 10%;
    width: 400px;
    height: 250px;
    margin-top: 700px;*/
    margin-top: 100px;
    position: relative;
}
.item-4 p{
	position: relative;
    right: 0;
    text-align: left;
    top: 350px;
}
.item-4 .minititulo{
	font-weight: bold;
	font-size: 1.1rem;
}
.item-4 .minititulo:after{
	content: '';
    width: 80px;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    left: 1px;
}
.item-4 .flecha{
	width: 10px;
    height: 10px;
    position: relative;
    top: 135px;
    left: 0;
    transform: rotate(180deg);
}
.item-4 img{
    width: 350px;
    height: 250px;
}
.boton-our-work{
	display: flex;
	align-items: center;
	justify-content: center;
}
.boton2{
	width: 200px;
    border: 1px solid orange;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 150px 0;
    top: 100px;
}
.boton2:hover{
	background: orange;
	transition: all 0.4s ease;
}
.boton2 a{
	color: orange;
	font-weight: bold;
}
.boton2 a:hover{
	color: #fff;
	transition: all 0.4s ease;
}
.blog{
	background: #fff;
	width: 100%;
	position: relative;
}
.info-blog{
	margin: 5% 0 0;
	display: flex;
	place-content: center;
	flex-wrap: wrap;
}
.info-blog img{
	width: 400px;
}
.categorias-blog{
	display: flex;
	width: inherit;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.categorias1{
	text-align: left;
	width: 50%;
	padding: 10px;
}
.categorias1 .uno{
	color: #888686;
}
.categorias1 .dos{
	font-size: 1.3rem;
	margin: 10px 0 10px 0;
	font-weight: bold;
}
.categorias1 .tres{
	width: 400px;
	color: #888686;
	margin-bottom: 10px;
	text-align: justify;
}
.categorias1 .cuatro{
	font-weight: bold;
}
.categorias1 .cuatro:after{
	content: '';
	width: 18%;
	border: 1px solid #000;
	display: flex;
}
.categorias1 img{
	width: 10px;
	height: 10px;
	margin-left: 85px;
}
.categoria2{
	margin-top: 50px;
}
.categorias2{
	text-align: left;
	width: 50%;
	padding: 10px;
}
.categorias2 .uno{
	color: #888686;
}
.categorias2 .dos{
	font-size: 1.3rem;
	margin: 10px 0 10px 0;
	font-weight: bold;
}
.categorias2 .tres{
	width: 400px;
	color: #888686;
	margin-bottom: 10px;
	text-align: justify;
}
.categorias2 .cuatro{
	font-weight: bold;
}
.categorias2 .cuatro:after{
	content: '';
	width: 18%;
	border: 1px solid #000;
	display: flex;
}
.categorias2 img{
	width: 10px;
	height: 10px;
	margin-left: 85px;
}
.categorias2 img{
	width: 10px;
	height: 10px;
	margin-left: 85px;
}
.categoria4{
	margin-top: 50px;
}

.coleccion{
	position: relative;
	background: #fff;
}
.titulo-coleccion{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    padding-bottom: 100px;
}
.galeria {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	flex-direction: column;
}
.galeria .fas{
	font-size: 2rem;
	padding-bottom: 10px;
	color: darkorange;
}
.galeria img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
}
/*.galeria img:hover{
}*/
.galeria1{
	display: flex;
	align-items: center;
	margin: 100px 0;
}

.galeria1::after{
	content: '';
    border: 1px solid #000;
    transform: translate(-150px, 250px);
    display: inline-block;
    height: 100px;
}
.galeria1 .textos{
	text-align: right;
	position: absolute;
	left: 25%;
}
.galeria1 .textos-der{
	text-align: left;
	position: absolute;
	right: 25%;
}
.galeria1 .textos-der p:nth-child(2){
	font-weight: bold;
}
.galeria1 .textos-der p:nth-child(3){
	color: #888686;
}
.galeria1 .textos p:nth-child(2){
	font-weight: bold;
}
.galeria1 .textos p:nth-child(3){
	color: #888686;
}
.galeria1 .img-coleccion{
	object-fit: cover;
}
/*galeria4*/
.galeria4{
	display: flex;
	align-items: center;
	margin: 100px 0;
}
.galeria4 .textos{
	text-align: right;
	position: absolute;
	left: 25%;
}
.galeria4 .textos-der{
	text-align: left;
	position: absolute;
	right: 25%;
}
.galeria4 .textos p:nth-child(2){
	font-weight: bold;
}
.galeria4 .textos p:nth-child(3){
	color: #888686;
}
.galeria4 .img-coleccion{
	object-fit: cover;
}
.contacto{
	background: #fff;
	padding-bottom: 150px;
	position: relative;
	width: 100%;
}
.form{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 200px;
}
.form .nombre:hover{
	background: rgba(112, 255, 65, 0.88);
}
.form .nombre, .email{
	width: 60%;
    height: 100px;
    font-size: 2rem;
    border-style: solid;
    margin: 10px;
    border: 5px #70ff41e0 solid;
    padding-left: 20px;
    transition: all 0.5s ease;
}
.form .email:hover{
	background: rgba(112, 255, 65, 0.88);
}
.form .mensaje{
	width: 60%;
    height: 300px;
    font-size: 2rem;
    border-style: solid;
    margin: 10px;
    border: 5px #70ff41e0 solid;
    padding-left: 20px;
    transition: all 0.5s ease;

}
.form .mensaje:hover{
	background: rgba(112, 255, 65, 0.88);
}
.form .enviar{
	width: 60%;
	height: 100px;
	font-size: 2rem;
	text-align: center;
	background: #70ff41e0;
    margin: 10px;
    border: #70ff41e0 solid;
    padding-left: 20px;
    z-index: 1;
    transition: all 0.5s ease;
}
.form .enviar:hover{
	background: rgba(9, 221, 255, 0.88);
	border: rgba(9, 221, 255, 0.88) solid;
}
.form .enviar:active{
	border: rgba(255, 249, 65, 0.88) solid;
	background: rgba(255, 249, 65, 0.88);
}
.thankyou{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #fff;
	padding-top: 100px;
	
}
.contenedor{
	width: 100%;
	height: 100vh;
	padding: 150px;
	display: grid;
	grid-template-columns: 30% 20% 30% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	grid-template-areas: "a b d d"
						 "a b d d"
						 "a e e e"
						 "a e e e"
						 "a e e e";
}
.t{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    grid-area: t;
}
.thankyou img{
	width: 100%;
	height: 100%;
	padding: 5px;
}

.a{
	grid-area: a;
	object-fit: cover;
}
.b{
	grid-area: b;
	object-fit: cover;
}
.c{
	grid-area: c;
	object-fit: cover;
}
.d{
	grid-area: d;
	object-fit: cover;
}
.e{
	grid-area: e;
	object-fit: cover;
}
.footer{
	position: relative;
	width: 100%;
	background: #fff;
	padding: 50px;
}
.redes{
	text-align: center;
}
.redes .lista{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.redes .lista li{
	padding: 10px;
}
.redes .lista li .fab{
	font-size: 3rem;
}
.redes .lista li .fab:nth-child(1):hover{
color: #3b5998;
transition: all 0.4s ease;
}
.redes .lista li .fab.fa-twitter:hover{
	color: #1da1f2;
	transition: all 0.4s ease;
}
.redes .lista li .fab.fa-instagram:hover{
	color: #E1306C;
	transition: all 0.4s ease;
}
.redes .lista li .fab.fa-youtube:hover{
	color: #ff0000;
	transition: all 0.4s ease;
}


.derechos{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #a29a9a;
}
.derechos a{
	color: #a29a9a;
}
@media all and (max-width: 1541px){
	.titulo h1{
		font-size: 6rem;
	}
	.galeria1 .textos{
		position: absolute;
		left: 20%;
	}
	.galeria4 .textos{
		position: absolute;
		left: 20%;
	}
	.galeria1 .textos-der{
		right: 20%;
	}
}
@media all and (max-width: 1321px){
	.titulo h1{
		font-size: 5rem;
	}
		.galeria1 .textos{
		position: absolute;
		left: 10%;
	}
	.galeria4 .textos{
		position: absolute;
		left: 10%;
	}
	.galeria1 .textos-der{
		right: 10%;
	}
}
@media all and (max-width: 1101px){
	.menu-wrap .menu{
		width: 20%;
	}
	.titulo h1{
		font-size: 4rem;
	}
	.form .nombre, .email{
		font-size: 1.2rem;
	}
	.form .mensaje{
		font-size: 1.2rem;
	}
	.form .enviar{
		font-size: 1.2rem;
	}
	.info-blog{
		margin: 10% 0 0;
	}
}
@media all and (max-width: 1024px){
	.menu-wrap .menu div > div ul > li{
		font-size: 14px;
	}
	.logo{
		font-size: 14px;
		top: 80px;
	}
	.mouse{
		display: none;
	}
	.mouse-icon .fas{
		display: initial;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(50%, 50%);
		animation: fas 3s ease infinite;
	}
	@keyframes fas{
	0%{
		transform: translate(50%, 50%);
	}
	50%{
	transform: translate(50%, 100%);
	}
	100%{
	transform: translate(50%, 50%);
		}
	}
}
@media all and (max-width: 950px){
	.botones-productos{
		top: 460px;
	}
	.galeria1 .textos p:nth-child(2){
		font-size: 13px;
	}
	.galeria1 .textos p:nth-child(3){
		font-size: 12px;
	}
	.galeria1 .textos-der p:nth-child(2){
		font-size: 13px;
	}
	.galeria1 .textos-der p:nth-child(3){
		font-size: 12px;
	}
	.galeria4 .textos p:nth-child(2){
		font-size: 13px;
	}
	.galeria4 .textos p:nth-child(3){
		font-size: 12px;
	}
	.galeria .fas{
		font-size: 1.5rem;
	}
	.coleccion{
		padding-top: 0;
	}
}
@media all and (max-width: 910px){
	.parrafos-about{
		font-size: 12px;
	}
	.info-blog{
		flex-direction: column;
	}
	.categorias-blog{
		flex-direction: column;
	}
	.categorias1,
	.categorias2{
		width: auto;
	}
	.parrafo-item{
		padding: 0 150px;
	}

}
@media all and (max-width: 880px){
	.titulo h1{
		font-size: 3.5rem;
	}
	.contacto{
		height: 70vh;
	}
	.form .nombre, .email{
		height: 50px;
	}
	.form .mensaje{
		height: 200px;
		z-index: 1;
	}
	.form .enviar{
		height: 50px;

	}
}
@media all and (max-width: 800px){
	.menu-wrap .menu{
		width: 25%;
	}
	.galeria img{
		width: 200px;
		height: 200px;
	}
	.galeria1::after{
		transform: translate(-100px, 200px);
	}
}
@media all and (max-width: 770px){
	.titulo h1{
		font-size: 3rem;
	}
}
@media all and (max-width: 750px){
	.icons{
		font-size: 10px;
	}
	.parrafos-about{
		margin: 0;
	}
	.parrafo-item{
		font-size: 14px;
		top: 100px;
	}
	.info{
		font-size: 12px;
		margin-top: 0;
	}
	.info .far{
		font-size: 1.2rem;
	}
	.info .fas{
		font-size: 1.2rem;
	}
	.experiencia .dos{
		font-size: 1rem;
	}
	.categorias-blog{
		font-size: 13px;
	}
	.categorias1 .dos,
	.categorias2 .dos{
		font-size: 1rem;
	}
	.botones-productos{
		top: 350px;
		font-size: 13px;
	}
	.galeria1 .textos {
		left: 5%;
	}
	.galeria1 .textos-der{
		right: 5%
	}
	.galeria4 .textos{
		left: 5%;
	}
	.contenedor{
		padding: 100px;
		grid-template-areas:
        "a d d d"
        "a d d d"
        "a e e e"
        "a e e e"
        "a e e e";
	}
	.redes .lista li .fab{
		font-size: 2rem;
	}
}
@media all and (max-width: 728px){
	.item-1 p, .item-2 p,
	.item-4 p
	{
		text-align: center;
	}
	.item-3 p{
	text-align: center;
	left: 0;
	}
	.item-1 .minititulo,
	.item-2 .minititulo,
	.item-3 .minititulo,
	.item-4 .minititulo{
		width: unset;
	}
	.item-1 .minititulo:after{
		right: 45px;
	}
	.item-2 .minititulo:after{
		left: 35px;
	}
	.item-3 .minititulo:after{
		left: 225px;
	}
	.item-4 .minititulo:after{
		left: 40px;
	}
	.item-1 .flecha{
		left: 310px;
	}
	.item-2 .flecha{
		left: 35px;
	}
	
	.item-3 .flecha{
		left: 300px;
	}
	.item-4 .flecha{
		left: 40px;
	}
}
@media all and (max-width: 660px){
	.menu-wrap .menu{
		width: 30%;
	}
	.titulo h1{
		font-size: 2.5rem;
	}
	.parrafos-about{
		flex-direction: column;
		margin: 20px;
	}
	.parrafos-about .parrafo1{
		text-align: left;
	}
	.boton p{
		width: 150px;
		padding: 5px;
		margin-top: 0;
		font-size: 13px;
	}
	.boton2{
		width: 150px;
		padding: 5px;
		font-size: 13px;
	}
	.parrafo-item{
		padding: 0 100px;
	}
	.botones-productos .boton{
		width: 120px;
		height: 10px;
	}
	.contenedor{
	grid-template-areas:
        "d d d d"
        "d d d d"
        "e e e e"
        "e e e e"
        "e e e e";
	}
}
@media all and (max-width: 600px){
	.parrafo-item{
		padding: 0 50px;
	}
	.info{
	font-size: 14px;
    margin-top: 0;
    width: 50%;
    flex-wrap: wrap;
    margin-left: 25%;
	}
	.botones-productos{
		top: 530px;
	}
	.info .experiencia{
		padding-top: 10px;
	}
	.galeria1 .primero{
		left: 10%;
		top: 600px;
	}
	.galeria1 .segundo{
		right: 10%;
		top: 1000px;
	}
	.galeria1 .tercero{
		left: 10%;
		top: 1400px;
	}
	.galeria1 .cuarto{
		right: 10%;
		top: 1800px;
	}
	.galeria4 .textos{
		left: 10%;
		top: 2200px;
		z-index: 1;
	}
}
@media all and (max-width: 550px){
	.menu-wrap .menu{
		width: 35%;
	}
	.menu-wrap .menu div > div ul > li {
		font-size: 13px;
	}
	.titulo h1{
		font-size: 2rem;
	}
	.titulo p{
		background: transparent;
	}
	.botones-productos{
		top: 700px;
	}
	.contenedor{
		grid-template-areas:
        "d d d d"
        "d d d d"
        "c c c c"
        "c c c c"
        "c c c c";
	}
}
@media all and (max-width: 489px){
	.icons h3{
		display: none;
	}
	.botones-productos{
		top: 930px;
	}
	.thankyou{
		padding-top: 200px;
	}
}
@media all and (max-width: 444px){
	.menu-wrap .menu div > div ul > li {
		font-size: 12px;
	}
	.titulo h1{
		font-size: 1.5rem;
	}
	.titulo p{
		font-size: 1rem;
	}
	.info-blog{
		margin: 20% 0 0;
	}
	.categorias1, 
	.categorias2{
		width: auto;
	}
	.categorias1 .tres,
	.categorias2 .tres{
		width: 200px;
	}
	.galeria1 .primero{
		left: 3%;
	}
	.galeria1 .segundo{
		right: 3%;
	}
	.galeria1 .tercero{
		left: 3%;
	}
	.galeria1 .cuarto{
		right: 3%;
	}
	.galeria4 .textos{
		left: 3%;
	}
}
@media all and (max-width: 395px){
	.menu-wrap .menu{
		width: 40%;
	}
	.galeria .textos,
	.galeria .textos-der{
		display: none;
	}
}
@media all and (max-width: 368px){
	.menu-wrap .menu div > div ul > li {
		font-size: 10px;
	}
	.item-1 p, 
	.item-2 p, 
	.item-4 p {
    font-size: 13px;
	}
	.item-3 p{
		font-size: 13px;
	}
	.items .flecha{
		display: none;
	}
	.items img{
		width: 300px;
	}
	.form .nombre, .email{
		padding: 0;
	}
	.form .mensaje{
		padding: 0;
	}
}
@media all and (max-width: 320px){
	.thankyou{
		padding-top: 350px;
	}
	.footer{
		padding: 50px 0;
		margin-top: 250px;
	}
}