*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
	scroll-behavior: smooth;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
p{
    font-family: 'Roboto', sans-serif;
}
.nav{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	font-family: fantasy;
	font-size: 1rem;
	align-items: center;
    animation: nav 2s ease;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo{
	padding: 10px;
	font-size: 2rem;
}
.nav ul li{
	display: inline-block;
	padding: 10px;
}
/*menu hamburguesa*/
.menu-wrap{ /*ajusto medidas generales*/
	position: fixed;
	top: 0;
	right: 20px;
	z-index: 100;
	display: none;
}
.menu-wrap .toggler{ /*ajusto el input, su tamano y oculto el checkbox*/
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2; /*importante este por encima de los demas elementos*/
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}
.menu-wrap .hamburger{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 60px;
	height: 60px;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*lineas de la hamburguesa, se modifica el primer DIV vacio luego de la class hamburger para pintar la linea*/
.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 2px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease; /*se le agrega la transition para que tenga fluidez*/
}
/*se crea con before y after las otras 2 lineas de la hamburguesa, para un total de 3 lineas y tener la burguer menu esteticamente listo*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: #000;
}
/*muevo la linea del after de -10 a 10px y voala*/
.menu-wrap .hamburger > div:after{
	top: 10px;
}
/*animacion del toggler, es decir, el checkbox animando el div vacio*/
.menu-wrap .toggler:checked + .hamburger > div{
	transform: rotate(135deg);
}
/*convertir lineas en X*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
	top: 0;
	transform: rotate(90deg);
}
/*rotar en hover cuando se clickee*/
.menu-wrap .toggler:checked:hover + .hamburger > div{
	transform: rotate(225deg);
}
/*mostrar menu*/ 
.menu-wrap .toggler:checked ~ .menu{
	visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div{
	opacity: 1;
	transition: opacity 0,4s ease;
}
.menu-wrap .menu{ /*se ajusta el menu en cuestion en el centro*/
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrap .menu > div{ /*se ajusta el segundo DIV vacio*/
	background: rgba(255, 140, 0, 0.97);
	width: 200vh;
	height: 200vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
	text-transform: uppercase;
}
.menu-wrap .menu > div > div{
	text-align: center;
	max-width: 90vh;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div ul > li{
	list-style: none;
	color: #000;
	font-size: 1.5rem;
	padding: 1rem;
}
.menu-wrap .menu > div > div ul > li > a{
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}
.menu-wrap .menu > div > div ul > li > a:hover{
	text-decoration: underline;
}


.header{
    background: url(../img/team/team-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
	left: 0;
	z-index: -88;
}
.titulo{
    position: absolute;
    top: 50%;
    left: 50px;
    line-height: 4rem;
}
.titulo h1{
    font-family: 'Amatic SC', cursive;
    font-size: 10rem;
    color: palegreen;
    letter-spacing: 10px;
}
.titulo p{
    font-size: 3rem;
	text-transform: uppercase;
}
.btn{
    width: 25%;
    height: 30px;
    background: palegreen;
    border: none;
    border-radius: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.who{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 60px 0 0;
}
.gif{
    width: 100px !important;
}
.who img{
    width: 500px;
}
.who-we-are{
    width: 45%;
}
.who-we-are h2{
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 20px;
}
.who-we-are p{
    padding: 0 0 40px;
}
.img{
    width: 45%;
}
.couple{
    width: 100% !important;
}
.benefits{
    font-weight: bold;
    padding: 0 0 20px !important;
}
.benefits-ul{
    list-style-type: disc;
    padding-left: 50px;
    font-family: roboto;
}
.number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
}
.number p{
    color: palegreen;
    font-size: 4rem;
}
.number p:nth-child(2){
    color: #000;
    font-size: 1.2rem;
}
.development{
    padding: 10px;
}
.map-text{
    text-align: center;
    padding: 50px 0;
}
.map-text h2{
    text-transform: uppercase;
    font-family: roboto;
}
.jqvmap-zoomin {
    width: 20px !important;
    height: 20px !important;
    display: none;
}
.jqvmap-zoomout {
    top: 40px !important;
    width: 20px !important;
    height: 20px !important;
    display: none;
}
.areas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.green span{
    width: 50px;
    height: 50px;
    background: green;
}
.dos{
  background: #808080 !important;
}
.separator{
	width: 20px !important;
	background: transparent !important;
}
.green p{
    display: flex;
    align-items: center;
}
.link{
	color: #22a922;
	font-weight: bold;
}
/* form */
.txt-form{
	place-content: center;
}
.form{
	display: flex;
    flex-direction: column;
	justify-content: center;
	font-family: roboto;
	font-weight: bold;
}
label{
	padding: 10px 0;
}
input{
	padding: 5px;
    border: none;
	box-shadow: 0 0 4px 0 #c1afaf;
	width: 50%;
	font-family: roboto;
	font-weight: bold;
}
select{
    padding: 5px;
    border: none;
	box-shadow: 0 0 4px 0 #c1afaf;
	width: 50%;
	font-family: roboto;
	font-weight: bold;
}
option{
	font-weight: bold;
}
textarea{
    padding: 5px;
    border: none;
	box-shadow: 0 0 4px 0 #c1afaf;
	font-family: roboto;
	font-weight: bold;
}
#submit{
	width: 25%;
	margin: 20px 0;
	cursor: pointer;
	transition: .5s ease;
}
#submit:hover{
	background: #22a922;
	color: #fff;
}
.ast{
	color: #22a922;
}
/* end form */
.family{
	background: url(../img/team/team7.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	margin: 100px 0 0;
}
.logo-text{
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
}
.logo3{
	width: 200px !important;
}
.logo2{
	text-align: center;

}
.footer{
    text-align: center;
    background: #272830;
    color: #fff;
    display: flex;
    justify-content: center;
	align-items: center;
}
.footer a{
    color: #fff;
}
.author{
	padding: 10px;
    background: #272726;
    width: 60%;
    font-size: 1rem;
    text-align: left;
    color: #a5a2a2;
}
.aver{
	background-color: #fff;
}
@media all and (max-width: 1024px){
    .lista-1024{
		display: none;
	}
	.logo{
		position: fixed;
		top: 1%;
		left: 1%;
	}
	.header{
		background-size: initial !important;
	}
	.menu-wrap{
		display: initial;
	}
	.who{
		width: 80%;
	}
	.who img{
		width: 350px;
	}
	.family{
	background-size: contain;
    height: 50vh;
    background-repeat: no-repeat;
	}
}
@media all and (max-width: 768px){
	.titulo p{
		font-size: 2rem;
	}
	.who img{
		width: 300px;
	}
}
@media all and (max-width: 460px){
	.header{
		background-size: cover !important;
	}
	.titulo h1{
		font-size: 4rem;
	}
	.titulo p {
		font-size: 1.1rem;
	}
	.btn{
		width: 40%;
	}
	.who{
		flex-direction: column;
	}
	.who-we-are{
		width: 100%;
		text-align-last: center;
    	padding: 10px 0 10px 0;
	}
	.img {
		width: 100%;
		text-align-last: center;
	}
	.cinco{
		padding: 0;
	}
	.who-we-are h2{
		text-align: center;
	}
	.number{
		width: 80%;
	}
	.number p{
		font-size: 2rem;
	}
	.number p:nth-child(2) {
    font-size: .7rem;
	}
	.areas{
		padding-bottom: 0;
		width: 80%;
		margin: 0 auto;
	}
	.green p{
		font-size: .8rem;
	}
	.txt-form{
		padding: 0;
	}
	.logo3 {
    width: 100px !important;
    padding-bottom: 20px;
	}
	.family{
		margin: 0;
	}
	.author{
		width: 100%;
	}
	.verified{
		padding: 0;
	}
}